.hashtags {
    width: 500px;
    height: 500px;

    div {
        background-color: steelblue;
        padding: 3px;
        margin: 1px;
        color: white;
    }

    rect {
        fill: steelblue;
    }

    text {
        fill: white;
    }

}