.hashtags {
    width: 500px;
    height: 500px;

    rect {
        fill: steelblue;
    }

    text {
        fill: white;
    }

    .axis {
        text {
            fill : black;
            font: 10px sans-serif;
        }
        path, line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }

    }

}