@(implicit request: RequestHeader)

@scripts = {
    <script>
        var Config = {
            "wsUrl" : "@routes.Application.feed.webSocketURL()",
            "tweetUrl" : "@routes.Application.tweet("")"

        }
    </script>
    <script src="@routes.Assets.at("bower_components/d3js/build/d3.v3.min.js")" charset="utf-8"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
}

@main("Political Feather", scripts) {
    <div class="container">
        <h1>Political Feather</h1>
        <p><b id="tweetNumber"></b> tweets received so far</p>
        <div class="row">
            <div class="col-lg-6">
                <h3>Top Hastags of the day</h3>
                <svg class="hashtags"></svg>
            </div>
            <div class="col-lg-6">
                <h3>Most Active users</h3>
                <svg class="mostActive"></svg>
            </div>
        </div>
        <div class="row">
            <h3>Activity</h3>
            <svg class="activity"></svg>
        </div>
        <div class="row">
            <h3>Sentiment map</h3>
            <p>A sentiment score is set according to the words used in the tweet<br>
            Bigger and redder circle represent a more recent tweet
            <small>Points at the (0,0) coordinates are removed</small>
            </p>
            <div class="col-lg-6">
                <svg class="sentiment"></svg>
            </div>
            <div class="col-lg-6" id="tweet">
            </div>
        </div>
        <div class="row">
            <h3>Word Usage</h3>
            <div>
                <svg class="wordUsage"></svg>
            </div>
        </div>
    </div>


}
