@(implicit request: RequestHeader)

@scripts = {
    <script>
        var Config = {
            "wsUrl" : "@routes.Application.feed.webSocketURL()"
        }
    </script>
    <script src="@routes.Assets.at("bower_components/d3js/build/d3.v3.min.js")" charset="utf-8"></script>
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
}

@main("Political Feather", scripts) {
    <div class="container">
        <h1>Political Feather</h1>
        <div>
            <svg class="hashtags"></svg>
        </div>
        <div>
            <svg class="mostActive"></svg>
        </div>
    </div>




}
